@tailwind base;
@tailwind components;
@tailwind utilities;

.base-header-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    border-bottom: 1px solid black;

    .title {
        display: flex;
        height: 40px;
        width: 150px;
        background: black;
    }

    .info-wrapper {
        display: flex;
        align-items: center;

        > * {
            margin-left: 30px;
        }
    }

    a,
    button,
    .user-name {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 12px;
        text-transform: uppercase;

        svg {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

.product-item-wrapper {
    cursor: pointer;
    border-bottom: 1px solid lightgray;

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    img {
        width: 100%;
    }

    .info-wrapper {
        padding: 20px 0;
        text-transform: uppercase;

        .business-name {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .name {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .price {
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 300px;
        height: auto;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            border: 1px solid lightgray;
        }
    }
}

.detail-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 50px;

    img {
        width: 400px;
        margin-right: 20px;
    }

    .info-wrapper {
        width: 300px;

        .business-name {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .price {
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .description {
            font-size: 14px;
            margin-bottom: 40px;
        }

        .select-wrapper {
            display: flex;
            flex-direction: column;

            label {
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            select {
                border: 1px solid lightgray;
                height: 40px;
                padding: 0 20px;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;
            }
        }

        .divider {
            margin: 40px 0;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 100%;
            padding: 0 20px;
            background: black;
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
